<%- include('../partials/header') %>
<body>
    <header>
        <a href="dashboard/logout">logout</a>
        <h1>mood_bud</h1>
    </header>
    <main>
    <h3>Welcome <%= foundUser.firstName %></h3>
    
        <h3>Your Boards</h3>
        <% foundUser.boards.forEach(function(board){ %>
            <ul>
                <li>
                    
                        <a href="/dashboard/<%= board._id %>">
                        <%= board.name%></a>
                    <p> - <%= board.description%></p>
                </li>
            </ul>
        <% }); %>
        <br>
        <a href="dashboard/new">+</a>
        <%- include('../partials/footer') %>
    </main>
</body>