<%- include('../partials/header') %>
<body>
    <header>
        <a href="/dashboard/logout">logout</a>
        <h1 id="logo"><a href="/dashboard">mood_bud</a></h1>
    </header>
    <main>
        <h3></h3>
     <h1><%= board.name %></h1>
     <h3><%= board.description %></h3>
        <form action="/pieces/new" method="get">
            <input type="submit" value="Add Photo">
            
        </form>
        <div class="row">
            <% if (board.contents.length > 0) { %>
                <div class="column">
                    <% for (i = 0; i < board.contents.length; i+=4) { %>
                        <form action="/dashboard/<%= board._id %>/pieces?_method=PUT" method="POST">
                            <input type="hidden" name="idx" value="<%= i %> ">
                            <a href="#" class="delete" onclick="this.parentNode.submit()">X</a>
                        </form>
                            <img src="<%= board.contents[i].link %>" alt="<%= i + 1 %>">
                       
                <% } %>
                </div>
                <div class="column">
                    <% for (i = 1; i < board.contents.length; i+=4) { %>
                            <form action="/dashboard/<%= board._id %>/pieces?_method=PUT" method="POST">
                                <input type="hidden" name="idx" value="<%= i %> ">
                                <a href="#" class="delete" onclick="this.parentNode.submit()">X</a>
                            </form>
                            <img src="<%= board.contents[i].link %>" alt="<%= i + 1 %>">
                      
               <% } %>
              </div>
                <div class="column">
                    <% for (i = 2; i < board.contents.length; i += 4) { %>

                            <form action="/dashboard/<%= board.id %>/pieces?_method=PUT" method="POST">
                                <input type="hidden" name="idx" value="<%= i%> ">
                                <a href="#" class="delete" onclick="this.parentNode.submit()">X</a>
                            </form>
                            <img src="<%= board.contents[i].link %>" alt="<%= i + 1 %>">
                         
               <% } %>
              </div>
                <div class="column">
                    <% for (i = 3; i < board.contents.length; i+=4) { %>
                            <form action="/dashboard/<%= board._id %>/pieces?_method=PUT" method="POST">
                                <input type="hidden" name="idx" value="<%= i %> ">
                                <a href="#" class="delete" onclick="this.parentNode.submit()">X</a>
                            </form>
                            <img src="<%= board.contents[i].link %>" alt="<%= i + 1 %>">
                         
               <% } %>
               <% } %>
    </main>
</body>
<%- include('../partials/footer') %>

