<%- include('../partials/header') %>
<body>
    <header>
        <div>
            <a href="/dashboard">home |</a>
            <a href="/dashboard/logout">logout |</a>
        </div>
        <h1 id="logo"><a href="/dashboard">mood_bud</a></h1>
    </header>
    <main>
        <h3></h3>
     <h1><%= board.name %></h1>
     <h3><%= board.description %></h3>
        <form action="/pieces/new" method="get">
            <button class="btn btn-outline-secondary"type="submit">Add Picture</button>
            
        </form>
        <div class="row">
            <% if (board.contents.length > 0) { %>
                <div class="column">
                    <% for (i = 0; i < board.contents.length; i+=4) { %>
                            <img src="<%= board.contents[i].link %>" alt="<%= i + 1 %>">
                        <form action="/dashboard/<%= board._id %>/pieces?_method=PUT" method="POST">
                            <input type="hidden" name="idx" value="<%= i %> ">
                            
                            <a href="#" class="delete">...</a>
                        </form>
                       
                <% } %>
                </div>
                <div class="column">
                    <% for (i = 1; i < board.contents.length; i+=4) { %>
                        <img src="<%= board.contents[i].link %>" alt="<%= i + 1 %>">
                        <form action="/dashboard/<%= board._id %>/pieces?_method=PUT" method="POST">
                            <input type="hidden" name="idx" value="<%= i %> ">
                            
                            <a href="#" class="delete">...</a>
                        </form>
                      
               <% } %>
              </div>
                <div class="column">
                    <% for (i = 2; i < board.contents.length; i += 4) { %>

                        <img src="<%= board.contents[i].link %>" alt="<%= i + 1 %>">
                        <form action="/dashboard/<%= board._id %>/pieces?_method=PUT" method="POST">
                            <input type="hidden" name="idx" value="<%= i %> ">
                            
                            <a href="#" class="delete">...</a>
                        </form>
                         
               <% } %>
              </div>
                <div class="column">
                    <% for (i = 3; i < board.contents.length; i+=4) { %>
                        <img src="<%= board.contents[i].link %>" alt="<%= i + 1 %>">
                        <form action="/dashboard/<%= board._id %>/pieces?_method=PUT" method="POST">
                            <input type="hidden" name="idx" value="<%= i %> ">
                            
                            <a href="#" class="delete">...</a>
                        </form>
                         
               <% } %>
               <% } %>
            </main>
            <div class="delete">
                <form action="/dashboard/<%= board._id %>?_method=DELETE" method="POST">
                 <button class="btn btn-outline-danger delete"type="button">Delete this Board</button>
                 </form>
            </div>
</body>
<%- include('../partials/footer') %>

