<%- include('../partials/header') %>
<body>
    <header>
        <div>
            <a href="/dashboard">home |</a>
            <a href="/dashboard/logout">logout |</a>
        </div>
        <h1 id="logo"><a href="/dashboard">mood_bud</a></h1>
    </header>
    <main>
        <h3>add via link</h3>
        <form action="/dashboard/<%= current %>/pieces" method="post">
            <div class="input-group mb-3">
                <input class="form-control"type="text" name="link" id="new-link">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2" id="add-link">add</button>
              </div>
        </form>
        <h3>...or search</h3>
        <form action="/pieces/search" method="post" id="search">
            <div class="input-group mb-3">
                <input class="form-control"type="text" name="pics" value="<%= search.pics %>"><input type="hidden" name="page" value="1">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">search</button>
              </div>
        </form>
        
            <% let pics = every %>
            
            <div class="row">
                <% if (pics.length > 0) { %>
                    <div class="column">
                        <% for (i = 0; i < pics.length; i+=4) { %>
                            <a href="/pieces/<%= pics[i].id %> ">
                                <img src="<%= pics[i].src.large %>" alt="<%= i + 1 %>">
                             </a>
                    <% } %>
                    </div>
                    <div class="column">
                        <% for (i = 1; i < pics.length; i+=4) { %>
                            <a href="/pieces/<%= pics[i].id %> ">
                                <img src="<%= pics[i].src.large %>" alt="<%= i + 1 %>">
                             </a>
                   <% } %>
                  </div>
                    <div class="column">
                        <% for (i = 2; i < pics.length; i += 4) { %>
                            <a href="/pieces/<%= pics[i].id %> ">
                                <img src="<%= pics[i].src.large %>" alt="<%= i + 1 %>">
                             </a>
                   <% } %>
                  </div>
                    <div class="column">
                        <% for (i = 3; i < pics.length; i+=4) { %>
                            <a href="/pieces/<%= pics[i].id %> ">
                                <img src="<%= pics[i].src.large %>" alt="<%= i + 1 %>">
                             </a>
                   <% } %>
                   
                  </div>
               <% } else { %>
                    <h1>Sorry we couldn't find anything for "<%= search.pics %>"</h1>
              <% } %>
    </main>

</body>
<%- include('../partials/footer') %>